# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# production
/build
/.build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

\.idea/

\.vscode/
serverless\.env\.yml

#awsmobilejs
aws-info.json
project-info.json
aws-exports.js
awsmobilejs/.awsmobile/backend-build
awsmobilejs/\#current-backend-info
~awsmobilejs-*/